<div class="page-content">
<div class="region-header">
{{ page.header }}
{{ sub_slogan }}
</div>
<div class="main-content">
<div class="region left-sidebar">
{{ page.left_region }}
</div>
<div class="region content">
{{ page.content }}
</div>
<div class="region right-sidebar">
{{ page.right_region }}
</div>
<div class="region footer">
{{ page.footer }}
</div>
</div>
</div>