<div class ="weather-widget-wrapper">
Min. Temp.: {{ weather_data.main.temp_min }}
Max Temp.: {{ weather_data.main.temp_max }}
Pressure: {{ weather_data.main.pressure }}
Humidity: {{ weather_data.main.humidity }}
Wind speed: {{ weather_data.main.speed }}
</div>